<div>
    <img src="./assets/images/logo.svg" alt="Promo & Co">
    <ul>
        <li>
            <a [routerLink]="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <img src="./assets/images/Home.svg" alt="Promo & Co">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a>
                <img src="./assets/images/Document.svg" alt="Promo & Co">
                <span>Orders</span>
            </a>
        </li>
        <li>
            <a>
                <img src="./assets/images/mail.svg" alt="Promo & Co">
                <span>Notification</span>
            </a>
        </li>
        <li>
            <a>
                <img src="./assets/images/Support.svg" alt="Promo & Co">
                <span>Help & Support</span>
            </a>
        </li>
        <li>
            <a>
                <img src="./assets/images/Settings.svg" alt="Promo & Co">
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <img src="./assets/images/Promotion Card.png" class="promotionCard">
    <img src="./assets/images/User.png" class="bottomImage">
</div>